@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lobster&family=Lora:ital@1&family=Prosto+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lobster&family=Lora:ital@1&family=Prosto+One&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main{
    font-family: 'Roboto', sans-serif;
}

header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 2px 4px 0px #00000026;
    position: relative;
}

header h1{
    font-weight: 400;
    font-size: 30px;
    padding-top: 14px;
    padding-bottom: 5px;
}
/********loader********/
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: 1s ease-in 3s forwards loader;
    opacity: 1;
    position: fixed;
    top: 0;
  }
  
.loader-bar {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-top: 7px  #9356DC outset;
    border-right: 7px #FF79DA outset;
    border-bottom: 7px #99E2D0 outset;
    border-left: 7px #89C8FA outset;
    border-radius: 50%;
    animation: 2s ease-in 0s infinite loader; 
}
  
  @keyframes loader{
      0% {
        transform: rotate(0deg);
      }
     
      25%{
        transform: rotate(180deg);
      }
  
      50%{
        transform: rotate(300deg);
      }
      
      100%{
        transform: rotate(360deg);
        opacity: 0;
        z-index: -5;
        
      }
  }

/******partie ville******/

.city{
    text-align: center;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    background: #EAEAEA ;
}

.ville h2{
    font-size: 16px;
    font-weight: 500;  
}

.ville i{
    margin-right: 17px;
}

/******partie exploration******/

.exploration{
    background: #F7F7F7;
    text-align: center;
    padding-bottom: 57px;
}

.explorer h2{
    padding: 39.5px 58px 15px 42px;
    font-size: 24px;
    font-weight: 700;
}

.explorer p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 27px;
}

.explorer button{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border: 0px;
    border-radius: 25px;
    width: 218px;
    height: 50px;
    box-shadow: 0px 4px 10px 0px #00000040;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

 .btn-home-page:hover{
    opacity: 0.8;
    box-shadow: 0px 10px 15px 0px #00000040;
    cursor: pointer;
    transition: 1s;
}

/******fonctionnement******/

.fonctionnement{
    background: #FFFFFF;
    margin-bottom: 68px;
    padding-left: 20px;
}
.fonction h2{
    font-weight: 700;
    font-size: 24px;
    margin-top: 48px;
}

.choix ul li{
    padding: 28px 38px;
    margin: 25px 20px 0px 12px;
    border-radius: 20px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 500;
    font-size: 16px;
}

li span{
    margin-left: -50px;
    margin-right: 20px;
    color: #FFFFFF;
    background: #9356DC;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

.fa-solid{
    margin-right: 26px;
    color: #7E7E7E;
    font-size: 20px;
}

.fa-store{
    color: #9356DC;
}

/******restaurants******/

.les-restaurants{
    background: #F7F7F7;
    padding-top: 45px;
    padding-bottom: 66px;
    
}

.restaurants-title {
    margin-left: 20px;
}

.restaurants-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.restaurants-cards .card {
    margin-top: 33px;
    margin-left: 17px;
    margin-right: 18px;
    border-radius: 15px;
    width: 100%;
    height: 259px;  
    padding-bottom: 15px;
    background: #FFFFFF;
}

.restaurants-cards a{
    color: black;
}

.restaurants-cards img {
    width: 100%;
    height: 174px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.restaurants-cards .card-content {
    width: 100%;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}

.restaurants-cards .card-txt{
    width: 100%;
    margin-bottom: 18px ;
}

.restaurants-cards .card-txt h3{
    font-weight: 700;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card-title{
    width: 100%;
}

.card-txt span{
    position: absolute;
    right: 42px;
    margin-top: 5px;  
    font-size: 22px; 
}

.new{
    position: relative;
}
.new::before{
    content: 'Nouveau';
    position: absolute;
    color: #008766;
    font-weight: 500;
    background-color: #99E2D0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 7px 9px 6px 9px;
    right: 15px;
    top: 15px;
}

.new-2{
    position: relative;
}
.new-2::before{
    content: 'Nouveau';
    position: absolute;
    color: #008766;
    font-weight: 500;
    background-color: #99E2D0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 7px 9px 6px 9px;
    right: 15px;
    top: 15px;
}

.heart{
    display: flex;
    justify-content: end;
    margin-right: 25px;
    margin-top: -60px; 
}

.heart .fa-heart{
    font-size: 22px; 
}

.heart2{
    display: flex;
    justify-content: end;
    margin-right: -2px;
    margin-top: -23px;
}

.heart2 .fa-solid{
    font-size: 24px;
    color: transparent;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
}

.heart2 .fa-solid:hover {
    opacity: 1;
    transition: 1s; 
}

/******pied de page******/

.footer{
    font-family: 'Roboto', sans-serif;
    background: #353535;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 15px;
}

.footer h3{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
    padding-bottom: 16px;
}

.footer ul{
    margin-left: 15px;
}

.footer .fa-solid{
    font-size: 12px;
    margin-right: 10px;
    color: #ffffff;
}

.footer li{
    margin-bottom: 7px;
}

.footer li a{
    color: #ffffff;
}

@media (min-width: 1440px) {

body{
    max-width: 2500px;
    width: 100%;
}    
/********fonctionnement********/

header{
    height: 96px;
}

header h1{
    padding-top: 26px;
}

.fonctionnement{
    padding-left: 180px;
    padding-right: 175px;
}

.choix ul{
    display: flex;
    justify-content: center;   
}

.choix li{
    width: 100%;
    padding-right: 0px;
}

/***********restaurants***********/

.les-restaurants{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    width: 100%;
    
}
.restaurants{
    width: 100%;
    padding-left: 175px;
    padding-right: 175px;
    
}

.restaurants-title{
    margin-left: 0px;
}

.restaurants-cards{
    width: 100%;
    flex-wrap: wrap;
    column-gap: 91px;
    justify-content: space-between;    
}

.restaurants-cards .card {
    border-radius: 15px;
    width: 45.5%;
    height: 259px;  
    padding-bottom: 15px;
    background: #FFFFFF;
    margin-right: 0px;
    margin-left: 0px;
}

.card-txt span{
    position: absolute;
    left: 625px;
    margin-top: 5px;  
    font-size: 22px; 
}

/**********pied de page************/
.foot-title h3{
    padding-bottom: 0px;
    position: relative;
    bottom: 5px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    padding-top: 64px;
    padding-bottom: 31px;
}

.foot-flex{
    display: flex;
}

.proposer ul{
    display: flex;
}

.proposer ul li{
    font-weight: 500;
}

.mention ul{
    display: flex;
    width: 267px;
}

.footer ul li{
    margin-right: 7px;
    width: 188px; 
}

.footer h3{
    width: 137px;
    margin-right:26px;
}

}